<script type="text/javascript">
var staticPath = "${base}/templates/${config.theme}/front/static";
var cxt = "${base}";
</script>
<div class="header">
	<div class="header_mid gray_header">
      	<div id="J_order_tips" class="order_notice"></div>
		<div class="header_logo">
		</div>
		
		<div class="header_tool">
	        <div id="append_parent"></div>
	        
	 		<div class="login_before" id="J_head_log">
	 			[#if session.session_agency??]
	 				<span class="fl"></span>您好<a href="/user.php">${session.session_agency.username}</a>, 欢迎您回来！ &nbsp;
	 				<a rel="nofollow" class="btn_login hlight_main" id="J_header_lnkLogin" href="${base}/agency">用户中心</a>
	 				<a rel="nofollow" class="btn_reg" id="J_header_lnkRegister" href="${base}/logout">退出</a>
	 			[#else]
					<span class="fl"></span>
					<span id="J_rename_span">欢迎光临</span>，&nbsp;
					<a rel="nofollow" class="btn_login" id="J_header_lnkLogin" href="${base}/login">登录</a>
	 			[/#if]
			</div>
			<ul class="ht_list"></ul>
		</div>
	</div>
	<div class="header_bot">
		<div class="header_bot_con">
			<ul class="header_snav fwr">
	            <li><a href="${base}/" class="cur">首页</a></li>
	    		<li><a href="${base}/product/list/1"><span class="">平台简介</span></a></li>
	   			<li><a href="${base}/product/list/2"><span class="">团队风采</span></a></li>
	   			<li><a href="${base}/product/list/3"><span class="">加盟合作</span></a></li>
	   			<li><a href="${base}/product/list/4"><span class="">联系我们</span></a></li>
 			</ul>
		</div>
	</div>
</div>